/* @override 
	http://localhost:8888/emergency-pallottola/css/app.css
	http://localhost:8888/pallottola/css/app.css */


/* GENERAL */
body{
	text-rendering: optimizeLegibility;
	font-family: "ff-tisa-web-pro", serif;
}

a{
	transition: all .5s;
}

h1,h2,h3,h4,h5{
	font-family: 'Work Sans', sans-serif;
}

#scrollable{
	position: relative;
	z-index: 2;
}

.row_wrap{
	background: #fff;
}

.top-paper {
    max-width: 100%;
    background: url(../img/top-paper/top-paper_v1.png) no-repeat left top;
    background-size: cover;
    height: 74px;
}

.paper{
	margin-bottom: 3em;
	box-shadow: 0px 10px 70px rgba(0,0,0,.3);
	background: url(../img/bg-paper/bg-paper_v6.png) #ffffff center;
	background-size: contain;
}

.draw-top {
    text-align: center;
    max-width: 80%;
    display: block;
    margin: 1rem auto;
  
}

.draw{
	max-width: 100%;
	float: none;
	padding:  0 2rem 1rem;
}

@media only screen and (min-width: 44.063em) { 

	.draw{
		max-width: 45%;
		margin: 0 1rem;
		padding: 0;
	}
	
	.draw-top {
	    text-align: center;
	    max-width: 65%;
	    display: block;
	    margin: 1rem auto;
	  
	}
	
	.draw-left {
		float: left;
	    
	}
	
	.draw-right {
	    float: right;
	}
}

.infographic{
	background: #fff;
	margin-bottom: 3em;
	padding: 5em 0;
}

.infographic h3{
	font-weight: 900;
	margin-top: 1em;
}

.marginbottom{
	margin-bottom: 80vh;
}

.paper .text p{
	padding: 0 2em;
	font-size: 1rem;
	color: #1a1a1a;
	margin-bottom: 1.2em;
	text-indent: 1.5em;
	text-align: justify;
}

@media only screen and (min-width: 44.063em) { 
	.paper .text p{
		font-size: 1.2rem;
	}
}


.paper .chart{
	padding: 0;
	padding-top: 2em;
	padding-bottom: .5em;
}

.chart_caption{
	opacity: .8;
	font-style: italic;
}

@media only screen and (min-width: 64.063em) { 
	.paper .text p{
		padding: 0 3.5rem;
	}
}

@media only screen and (min-width: 90.063em) { 
	.paper .text p{
		padding: 0 4.5rem;
	}
}

.top{
	padding: 4rem 0;
}

.bottom{
	padding-bottom: 3rem;
}

/* if hypenation available */
.csshyphens .text p,.softhyphens .text p,.softhyphensfind .text p{
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; 
}

/* MENU */
#menu{
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 1em;
	background: #000;
	color: #e5e5e5;
	width: 100%;
	height: 60px;
	font-family: 'Work Sans', sans-serif;
	z-index: 2;
	border-bottom: 1px solid #333;
	box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}

#menu #sections_menu{
	float: none;
	line-height: 30px;
	font-size: .875em;
}

#menu #sections_menu li{
	float: left;
	list-style: none;
}

#menu #sections_menu ul{
	display: inline-block;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#menu #sections_menu ul li a{
	display: block;
	color: #fff;
	background: #333;
	line-height: 30px;
	padding: 0 .3em;
	min-width: 30px;
	text-align: center;
	height: 30px;
}

#menu #sections_menu ul li a.active, #menu #sections_menu ul li a.active:hover{
	background: #c83115;
}

#menu #sections_menu ul li a:hover{
	background: #434343;
}

#menu #sections_menu span{
	display: none;
}

#section_title{
	font-size: .875em;
	font-weight: 900;
	margin-bottom: .2rem;
}

@media only screen and (min-width: 64.063em) { 
	#menu{
		padding: 10px 1em;
		height: 50px;
	}
	
	#menu #sections_menu{
		float: right;
		line-height: 30px;
		font-size: .875em;
	}
	
	#menu #sections_menu li{
		display: inline-block;
		list-style: none;
		margin-left: .2em;
	}
	
	#menu #sections_menu ul{
		margin-left: .5em;
	}
	
	#menu #sections_menu ul li a{
		border-radius: 30px;
		line-height: 30px;
		padding: 0 .3em;
		min-width: 30px;
		text-align: center;
		height: 30px;
	}
	
	#menu #sections_menu span{
		display: inline-block;
		color: #999;
		float: left;
	}
	
	#section_title{
		float: left;
		margin-bottom: 0;
		font-size: 1.3em;
	}
	
}

/* PROGRESS */
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 2;

  /* Dimensions */
  width: 100%;
  height: .25em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #c83115;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #c83115;
}

.flat::-moz-progress-bar {
  background-color: #c83115;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, red);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, green, red);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, green, red);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 50%;
  display: block;
  height: inherit;
}


/* COVERS */
#background{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background: #f5f5f5;
	height: 100vh;
	width: 100%;
}

.bx-wrapper .bx-viewport{
	padding: 120!important;
	margin: 0!important;
	border: 0;
	left: 0;
}

#cover_carousel_container{
	height: 100vh;
}

.cover_carousel{
	height: 100vh;
	padding: 5em 2em;
	margin: 0;
	width: 100%!important;
}

@media only screen and (min-width: 90.063em) { 
	.cover_carousel{
		padding: 5em;
	}
}


.cover{
	height: 100vh;
}

#cover0{
	height: 100vh;
}

.cover_carousel h1, h2{
	font-weight: 900;
}

#cover_carousel0{
	background: #c83115;
}

#cover_carousel1{
	background: url(../img/bg/bg_v1.jpg) center;
	background-size: cover;
}

#cover_carousel2{
	background: url(../img/bg/bg_v2.jpg) center;
	background-size: cover;
}

#cover_carousel3{
	background: url(../img/bg/bg_v3.jpg) center;
	background-size: cover;
}

#cover_carousel0 h1{
	text-align: center;
	margin: 0 auto;
	margin-top: 38vh;
}

.cover_carousel h1{
	font-size: 3em;
}

.cover_carousel h2{
	color: #fff;
	font-size: 8em;
}